* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

@font-face {
    font-family: 'Cum Villain';
    src: url(CumVillain-Regular.otf);}

:root {
    --pressed-gray: #9c9c9c;
    --deep-gray: #171717;}

::-moz-selection { /* For Firefox */
    background: magenta;}
      
::selection {
    background: magenta;}



html {
    scroll-behavior: smooth;}

body {
    font-family: 'Barlow', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: black;
    overflow-x: clip;}

a {
    text-decoration: none;
    color: white;}

ul {
    list-style: none;}



/*Navbar*/

.navbar {
    background: black;
    position: relative;
    z-index: 998;}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;}

.navbar .logo {
    display:block;
    scale: 80%;}

.navbar .main-menu ul {
    display: flex;}

.navbar ul li a {
    padding: 0px 20px;
    display: block;
    font-weight: 400;
    transition: 0.5s;}

.navbar .main-menu ul li a {
    border-right: 1px solid white;}

.navbar .main-menu ul li:last-child a {
    border-right: none;}

.navbar ul li a:hover{
    color:magenta;}



/* Borger button */

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;}

.hamburger-button .hamburger-line {
    width: 50px;
    height: 2px;
    background: white;
    margin-top: 1px;
    margin-bottom: 6px;
    margin-right: -7px;
    transition: 0.3s;}

.hamburger-button .hamburger-line:last-child {
    margin-bottom: 1px;}

.hamburger-line1.active {
    transform: translateY(7px);}

.hamburger-line2.active {
    width: 0px;}

.hamburger-line3.active {
    transform: translateY(-7px);}

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    top: -140vh;
    width: 100%;
    height: 140vh;
    z-index: 999;
    background: black;
    transition: top 0.3s ease-in-out;
    text-align: center;}

.mobile-menu.active {
    top: 0;}

.mobile-menu ul {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 100px;}

.mobile-menu ul li {
    width: 200px;
    padding: 20px 0;
    border-bottom: 1px solid white;}

.mobile-menu ul li:last-child {
    border-bottom: none;}



/*Her0*/

.hero {
    background: url('../images/illustration_background.png') no-repeat;
    background-size: 1498px;
    background-position: center top;
    background-attachment: fixed;
    overflow: clip;}

.hero .container {
    position: relative;
    height: 890px;}

.hero-content {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 600px;
    z-index: 503;}

.text-xxl {
    font-family: 'Cum Villain';
    font-size: 6rem;
    line-height: 1.15;
    font-weight: 100;
    padding: 45% 0% 0%;}

.hero-text {
    font-size: 1.3rem;}
    
.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    overflow: clip;}

.overlay {
    pointer-events: none;
    position: absolute;
    left:  calc(-750px + 50%);
    width: 1500px;
    height: auto;}

.inpage-overlay {
    height: 300px;}

.overlay1 {
    z-index: 501;
    transform: translateY(0);}

.overlay2 {
    z-index: 502;
    transform: translateY(0);}

.overlay3 {
    z-index: 504;
    transform: translateY(0);}

.overlay4 {
    z-index: 505;
    transform: translateY(0);}

.overlay5 {
    z-index: 506;
    transform: translateY(0);}

.overlay-mobile {
    display: none;}

.overlay-mobile-motherfucker{
    z-index: 504;}



/*Stamp*/

.under-construction-stamp {
    display: block;         /*<--- Deactivate here!! block=on, none=off */
    position: absolute;
    z-index: 997;
    width: 250px;
    left: calc(-125px + 40%);
    margin-top: -100px;
    transform: rotate(15deg);}



/*Portfolio*/

.portfolio {
    position: relative;
    padding-top: 200px;
    padding-bottom: 100px;
    overflow: clip;}
    
.portfolio .container {
    position: relative;
    z-index: 600;}

.background-repeat {
    display: block;
    position: absolute;
    background-image: url("/images/square_wave.png");
    background-repeat: repeat-y;
    top: 0;
    margin-top: -600px;
    width: 800px;
    height: 150%;
    left: calc(50vw - 400px);
    z-index: -100;}

.background-repeat-mobile {
    display: none;
    position: absolute;
    background-image: url("/images/square_wave_mobile.png");
    background-repeat: repeat-y;
    top: 0;
    margin-top: -600px;
    width: 320px;
    height: 120%;
    left: calc(50vw - 160px);
    z-index: -100;}

.portfolio-heading {
    position: relative;
    font-size: 4.5rem;
    font-weight: 100;
    margin: 0 0 120px;}

.project-thumb {
    max-width: 100%;
    margin-bottom: 0px;
    transition: 0.5s;
    outline: 0px solid black;}

.project-thumb:hover {
    transform: scale(102%);
    outline: 20px solid black;
    outline-offset: -16px;}

.project-name {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 14px 0 20px;
    transition: 0.5s;}

.project-name:hover {
    color: magenta;}

.description-link {
    font-weight: 600;
    color: white;
    transition: 0.5s;}

.description-link:hover {
    color: magenta;}

.portfolio-project {
    padding-bottom: 100px;}



/*Contact*/

.contact {
    background: black;
    text-align: center;}

.contact .container {
    border-bottom: 2px solid var(--pressed-gray);}

.contact-heading {
    padding-top: 30px;
    font-size: 2.5rem;
    font-weight: 600;}

.contact-logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    display: inline-block;}

.contact-info {
    font-size: 1.2rem;
    font-weight: 100;
    padding-bottom: 50px;}

.copyright {
    padding: 10px;
    font-weight: 100;
    color: var(--pressed-gray);}



/*Page content*/

.page-content {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;}

.return {
    position: absolute;
    z-index: 900;
    transform: translateY(27px);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 7px 20px 13px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-left: 40px;
    transition: 0.3s;}

.return:hover {
    color: magenta;
    border-top: 2px solid magenta;
    border-bottom: 2px solid magenta;}

.totop {
    position: relative;
    transform: translateX(-2.5%);
    display:inline-block;
    z-index: 900;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 7px 22px 13px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;}

.totop:hover {
    color: magenta;
    border-top: 2px solid magenta;
    border-bottom: 2px solid magenta;}

.totop .totop-portfolio {
        margin: -100px 0 -100px;}

.totop-project-text {
        margin: 100px 0 -100px;}

.totop-project-image {
        margin: 20px 0 -100px;}

.vertical-gallery {
    max-width: 1100px;
    margin: auto;
    position: relative;
    object-fit: scale-down;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;}

.vertical-gallery-item {
    max-height: 85vh;
    max-width: 80vw;
    cursor: zoom-in;}

.skateboard {
    padding: 0 20px 0 20px;}

.vertical-gallery-item:fullscreen {
    cursor: zoom-out;}

.vertical-gallery-item-static {
    max-height: 85vh;
    max-width: 80vw;}

.lin-profile-pic {
    max-height: 400px;
    margin-top: -100px;
    padding-bottom: 0;}

.vertical-gallery-text {
    padding-top: 20px;
    padding-bottom: 0;}

.gallery-wrap {
    flex-wrap: wrap;}

.gallery-wrap li {
    margin: 50px 30px 0;}

.long-description {
    margin: auto;
    margin-bottom: 50px;
    width: 500px;}

.copyright-text {
    color: var(--pressed-gray);
    font-size: 0.85rem;}



/*Video*/

.video-player {
    position: relative;
    display: block;
    margin: 100px auto;
    max-width: 50vw;
    overflow: hidden;}

.gallery-video {
    width: 100%;
    height: 56.25vh;}

.player-controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: 0.3s;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);}

.video-player:hover .player-controls {
    transform: translateY(0);}

.play-button {
    width: 10%;
    border: none;
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    transform: translateY(-2px);}

.play-button:focus {
    outline: none;}

.video-time {
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;}

/* input[type='range']{
    -webkit-appearance: none;
    -moz-appearance: none;} */

.spindle-gif {
    background: white;}



/*Buttons*/

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: white;
    color: black;
    font-weight: 100;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;}

.btn:hover {
    background: magenta;}

.btn-block {
    display: block;
    width: 100%;}

.download-button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.5s;}

.download-button:hover {
    color: magenta;
    border-top: 3px solid magenta;
    border-bottom: 3px solid magenta;}



/* Utility classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;}

.full-height {
    min-height: 95vh;}

.text-center {
    text-align: center;}

.white-outlines {
    border: 1px solid white;}

.white-outlines:fullscreen {
    border: 0;}

.half-size {
    max-width: 25vw;}



/*Media queries*/

@media (max-width: 960px){ 
    .background-repeat {
        display: none;}

    .background-repeat-mobile {
        display: block;}}

@media (max-width: 670px){
    .hero {
        background: none;}

    .hero .container {
        height: 910px;
        margin: 0;
        padding: 0;}

    .overlay-mobile {
        pointer-events: none;
        position: absolute;
        top: 0;
        left:  calc(-360px + 50%);
        height: 950px;
        width: auto;
        display: block;}
    
    .overlay1 {
        display: none;}
        
    .overlay2 {
        display: none;}
        
    .overlay3 {
        display: none;}
        
    .overlay4 {
        display: none;}
        
    .overlay5 {
        display: none;}

    .navbar .main-menu {
        display: none;}

    .navbar .hamburger-button {
        display: block;}
    
    .navbar .mobile-menu {
        display: block;}

    .hero-content {
        width: 380px;}
    
    .text-xxl{
        font-size: 4rem;
        padding: 60% 0 0;}

    .hero-text {
        font-size: 1.1rem;}

    .under-construction-stamp {
        width: 200px;
        margin-top: -220px;
        left: calc(-100px + 35%);}

    .portfolio-heading {
        margin-top: 20px;
        font-size: 4rem;}
    
    .project-thumb {
        object-fit: cover;
        height: 10rem;}
    
    .left-focus {
        object-position: 10% 0;}
    
    .right-focus {
        object-position: 90% 0;}

    .return {
        display: none;}
    
    .vertical-gallery {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;}

    .vertical-gallery-text {
        margin-bottom: 60px;}

    .long-description {
        width: 50vw;}
    
    .video-player {
        max-width: 80vw;}}